/*
 *  PROYECTO PRIMER CORTE
 *   co-Author :::   Juan Albarracin
 *   co-Author :::  Mario Bolaños
 *   co-Author ::: Sergio Orozco
 *   co-Author :::  Brian Sterling
 *     Program ::: Bases de Datos
 *  Credential ::: SIST0008-G01:SIV
 */

body
{
    width: 99%;
    text-align: center;
    font-family: verdana;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url("../imagenes/fondoVD.jpg");
}

*
{
    margin: 0;
    padding: 0;
}




/*Menu*/
#MenuDes
{
    margin-top: 10px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}

nav
{
    top:-20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
}

nav ul
{
    list-style: none;
}

nav > ul
{
    display: table;
    width: 100%;
    background: #000;
    position: relative;
}

nav > ul li
{
    display: table-cell;
}

nav > ul li a
{
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav > ul > li > ul > li a:hover 
{
    background: #04B4AE;
}

nav > ul > li > a span 
{
    background:#174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top:-55px; 
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav > ul > li > a span img 
{
    display: block;
    line-height: 60px;
}

img.icon 
{
    height: 40px;
    margin: 10px;
    margin-left: 40%;
}

nav > ul > li > a:hover > span
{
    top: 0px;

}

/*sub-menu*/
nav > ul > li:hover >ul
{
    display: block;
    height: 100%;
}

nav > ul > li > ul
{
    display: block;
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}





/*Estilo Cuadros*/
div.form-style-5
{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

fieldset
{
    border: none;
}

legend 
{
    font-size: 1.4em;
    margin-bottom: 10px;
}

label 
{
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="date"], input[type="datetime"],
input[type="email"], input[type="number"],input[type="search"],
input[type="time"],input[type="url"], textarea, select 
{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input:focus
{
    background: #d2d9dd;
}

select
{
    -webkit-appearance: menulist-button;
    height:35px;
}

.number 
{
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

input[type="submit"], input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

input[type="submit"]:hover, input[type="button"]:hover
{
    background: #109177;
}





 /* Edicion del Select */
label.custom-select 
{
    position: relative;
    display: inline-block;

}

custom-select select 
{
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none;
    line-height: 1.2;
    background: #000;
    color:white;
    border:0;
}

/* Select arrow styling */
custom-select:after 
{
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
    pointer-events: none;
}

no-pointer-events .custom-select:after 
{
    content: none;
}





/*Estilo Contacto*/
.contacto
{ 
   position: relative;
   width: 100%; /* for IE 6 */
}

h2
{ 
   position: absolute;
   color: white;
   top: 200px;
   left: 0;
   width: 100%;
}